---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "exchange");

if (!aboutPost) {
	throw new Error("Exchange page content not found");
}

const { Content } = await render(aboutPost);

import { commentCfg } from "@/types/config";
// artalk comment
const artalkServer = commentCfg.artalk.server;
const artalkSite = commentCfg.artalk.site;
---
<MainGridLayout title="交换友链" description="交换友链">
    <div class="flex flex-col w-full rounded-[var(--border-radius)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>

        {
            commentCfg.enable && commentCfg.use.toLowerCase() === "artalk" &&
            <div id="Comments" class="mt-[20px] p-5 card-base"></div>
        }
    </div>
</MainGridLayout>

{
    commentCfg.enable && commentCfg.use.toLowerCase() === "artalk" &&
    <script src={(artalkServer.endsWith('/') ? artalkServer : (artalkServer + '/')) + "dist/Artalk.js"}/>
    <script define:vars={{ artalkServer, artalkSite }}>
        Artalk.init({
            el: "#Comments",
            pageKey: window.location.pathname,
            server: artalkServer,
            site: artalkSite,
            avatarURLBuilder: (comment) => {
                // console.log(JSON.stringify(comment, null,2));
                return `https://weavatar.com/avatar/${comment.email_encrypted}?d=initials&name=${comment.nick}`;
            },
        });
    </script>
}
