---

<<<<<<< HEAD
import { beautyConfig } from "@/types/config";
---

<div id="config-carrier" data-hue={beautyConfig.hue}>
=======
import { siteConfig } from "../config";
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue}>
>>>>>>> origin/main
</div>
